<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Once I Met</title>
	</head>
	<body>
		<% if session[:userid].blank? %>
		  <%= link_to "PLEASE SIGN IN", sign_in_url %>
		<% else %>
	<nav>
		<ul>
			<li><% if session[:userid].present? %>
			Hello <%= current_user.first %>!</li>
			<% end %>
	<li><form action="<%contacts_url%>" method = "get">
			<input type="text" name="keyword" placeholder = "Type a descriptor" >
			<input type="submit" name="keyword" value = "Search !!">
		</form></li>
		
		<%= form_for(@contact) do |f| %>
		  <% if @contact.errors.any? %>
		<%=f.text_field :first_name, "who'd you meet today?" %>
		<%= f.submit %>
		<%end%>
		<%end%>
		
		<li><!-- <form action = "<%contacts_url%>" method = "post">
					<input type = "text" name = "keyword" placeholder = "Who'd you meet?">
					<input type="submit" name="keyword">
			    </form> --></li>
			<% if session[:userid].present?%>
			<li><%= link_to "My Account", user_url(current_user)%></li>
			<li><%= link_to "Sign Out", sign_out_url %></li>
			<% else %>
			<li><%= link_to "Sign In!", sign_in_url %></li>
			<li><%= link_to "Sign Up!", new_user_url %></li>
			<%end%>
			
			</ul>
			</nav></header>
			

			<div id="content">
				<% if flash[:notice].present? %>
				<p id="notice"><%= flash[:notice]%></p>
				<%end%>
				
				<div id="sidebar">
				  	<h2>Your Groups</h2>
				<% @contacts.group do |contact| %>
				<%end%>
				  </div>

<h1>Here are your people</h1>

		<%= paginate @contacts%>
		
		<h2><% @contacts.each do |contact| %></h2>
		<div id="pants">
		  <%= link_to "#{contact.first_name} #{contact.last_name}", contact_url(contact.id) %>
		  <%= link_to 'More Info', contact %>
		  <%= link_to 'Edit', edit_contact_path(contact) %>
		  <%= link_to 'Delete', contact, confirm: 'Are you sure you want to delete this person?', method: :delete %>
	    <%end%></br></br>
			<%= link_to 'Create a new contact!', new_contact_path %>
		</div><% end %>
	</body>
</html>
