<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
	<head>
		<title>Once I Met</title>
	</head>
	</header>
	<body>
		<% if session[:userid].blank? %>
		<br>
		<div id=splash><h3>Once I Met is a powerful new tool to manage your friends,<br>
			acquaintances, colleagues and anyone else you may run into.</h3>
		<img><%= image_tag "OIMHP1.jpg" %></img>
		
		<ul>
		<li>PLEASE SIGN IN</li>
		<%= form_tag sessions_create_url do %>

		  <p>
		    <%= label_tag :email %>
		    <%= text_field_tag :email %>
		  </p>
		  <p>
		    <%= label_tag :password %>
		    <%= password_field_tag :password %>
		  </p>

		  <p><%= submit_tag 'Sign in'%></p>
		<%end%>
		<li>OR SIGN UP</li>
		<li> <%= render :partial => '/users/form' %></li>
		</ul>
		<% else %></div>
	<nav>
		<ul>
			<% if session[:userid].present? %>
			<li>Hello <%= current_user.first %>!</li>
			<% end %>
			</br>
		
			<%= form_for(@contact) do |f| %>
			<li><%=f.text_field :first_name, placeholder: "who'd you meet today?" %></li>
			<li><%= f.submit %></li>
			<%end%>
		
			
	<li><form action="<%contacts_url%>" method = "get">
			<input type="text" name="keyword" placeholder = "Type a descriptor" >
			<input type="text" name="search" placeholder = "Search" ></li>
			<li><input type="submit" value = "Search !!">
		</form></li>
		
		
		
		<li><!-- <form action = "<%contacts_url%>" method = "post">
					<input type = "text" name = "keyword" placeholder = "Who'd you meet?">
					<input type="submit" name="keyword">
			    </form> --></li>
			<% if session[:userid].present?%>
			<li><%= link_to "My Account", user_url(current_user)%></li>
			<li><%= link_to "Sign Out", sign_out_url %></li>
			<%end%>
			
			</ul>
			</nav></header>
			

			<div id="content">
				<% if flash[:notice].present? %>
				<p id="notice"><%= flash[:notice]%></p>
				<%end%>
				
				<div id="sidebar">
				  	<h2>Your Groups</h2>
			    <% Contact.all.collect{|g| g.group}.uniq.each do |group|%>
			    <ul>
			    <li><%= group%></li></ul>
			    <%end%>
			    
			  
				  </div>
	
	<div id="contacts">	
		<ul>
		<li><h1>Your Contacts</h1></li>
		<% @contacts.each do |contact| %>
		  <li><h2><%= link_to "#{contact.first_name} #{contact.last_name}", contact_url(contact.id) %></h2></li>
		  <%= link_to 'More Info', contact %>
		  <%= link_to 'Edit', edit_contact_path(contact) %>
		  <%= link_to 'Delete', contact, confirm: 'Are you sure you want to delete this person?', method: :delete %></li>
	    <%end%></br></br>
		<li><%= paginate @contacts%></li>
		<li><%= link_to 'Create a new contact!', new_contact_path %></li>
		</div><% end %>
	</body>
</html>
