<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
  <head>
    <title>Once I Met</title>
  </head>
  <header>
  <body>
    <% if session[:userid].blank? %><br>
	<div id=splash>
	  <h3>Once I Met is a powerful new tool to manage your friends,<br>
		  acquaintances, colleagues and anyone else you may run into.</h3>
	  <img><%= image_tag "OIMHP1.jpg" %></img>
    
    <ul>
      <h3>PLEASE SIGN IN</h3>
	    <%= form_tag sessions_create_url do %>
		  <%= label_tag :email %>
		  <%= text_field_tag :email %><p>
		  <%= label_tag :password %>
		  <%= password_field_tag :password %>
		  </p>
		  <p>
		  <%= submit_tag 'Sign in'%></p>
	    <%end%>
		
		<p>---------------------------------------</p>
		<h3>OR SIGN UP</h3>
		  <li> <%= render :partial => '/users/form' %></li>
		  </ul>
		
    <% else %></div>
	<nav>
		
	  <p>Hello <%= current_user.first %>!</p>

		
	  <%=form_for(@contact) do |f| %>
	    <%=f.hidden_field :user_id %>
	    <%=f.text_field :first_name, placeholder: "who'd you meet today?" %>
	    <%=f.submit %>
	  <%end%>
	
	  <form name= "contact" action="<%contacts_url%>" method = "get">
	    <input type="text" name="keyword" placeholder = "Type a descriptor" >
		<input type="submit" value = "Search">
	  </form>
	
	  <li><%= link_to "Sign Out", sign_out_url %></li>
	
			
	  </ul>
	  </nav></header>
			
<<<<<<< HEAD
    <div id="content">
	  <%# if flash[:notice].present? %>
	  <p id="notice"><%= flash[:notice]%></p>
	  <%#end%>
=======

			<div id="content">
				<% if flash[:notice].present? %>
				<p id="notice"><%= flash[:notice]%></p>
				<%end%>
				

				
				<div id="sidebar">
					<ul>
				  	<li><h2>Your Groups</h2></li>
				    <% @groups.each do |group| %>
					<li><h3><%#= link_to "group.name", group_url %></h3></li>
				    <%end%>
			    </div>
>>>>>>> fixing damages.
	
	<div id="sidebar">
	  <h2>Your Groups</h2>
	    <% @groups.each do |g|%>
	      <%= link_to "g.name", group_url %>
	  <ul>
		<li><%= group%></li></ul>
	    <%end%>
	</div>
	
	<div id="contacts">	
<<<<<<< HEAD
	 <h1>Your Contacts</h1>  
	 <%#= if @contacts.nil %>
       <!-- <p>Couldn't find a match. Please try again</p> -->
     <%# else%>
	 <ul>
	 <% @contacts.each do |contact| %>
       <li><h2><%= link_to "#{contact.first_name} #{contact.last_name}", contact_url(contact.id) %></h2></li> 
	  <%= link_to 'More Info', contact %>
	  <%= link_to 'Edit', edit_contact_path(contact) %>
	  <%= link_to 'Delete', contact, confirm: 'Are you sure you want to delete this person?', method: :delete %></li>
	 <%end%></br></br>

       <li><%= paginate @contacts%></li>
    
     <%#end%>
	   <li><%= link_to 'Create a new contact!', new_contact_path %></li>
	</div>
   <% end %>
  </body>
=======
		<ul>
			
		<li><h1>Your Contacts</h1></li>
		<% @zebra.contacts.each do |contact| %>
		  <li><h2><%= link_to "#{contact.first_name} #{contact.last_name}", contact_url(contact.id) %></h2></li> <%#=@stories.last(params[:contact_id])%>
		  <%= link_to 'More Info', contact %>
		  <%= link_to 'Edit', edit_contact_path(contact) %>
		  <%= link_to 'Delete', contact, confirm: 'Are you sure you want to delete this person?', method: :delete %></li>
	    <% end  %></br></br>
		<li><%= paginate @contacts%></li>
		<li><%= link_to 'Create a new contact!', new_contact_path %></li>
		</div><% end %>
	</body>
>>>>>>> fixing damages.
</html>
