</header>
<p id="notice"><%= notice %></p>

<ul>
<%= link_to 'Back', contacts_path %>

<div id="contact">

<% if @contact.photo.exists? %>
<%= image_tag @contact.photo.url(:small) %>
<%end%>

<li><h1><%= @contact.first_name %> <% if @contact.last_name.present?%><%= @contact.last_name %><%end%> </h1></li>
<% if @contact.nickname.present?%>
<li><h3>nickname: <%= @contact.nickname %>
<%end%></h3></li>

<li><% if @contact.job_title.present?%>
<%= @contact.job_title %>
<%end%></li>

<li><% if @contact.email.present?%>
email: <%= @contact.email %>
<%end%></li>

<li><% if @contact.phone.present?%>
Phone: <%= @contact.phone %>
<%end%></li>

<li><% if @contact.twitter.present?%>
twitter: @<%= @contact.twitter %>
<%end%></li>

<li><% if @contact.address.present?%>
Address: <%= @contact.address %></li>

<li><%= @contact.city %>, <%= @contact.state %></li> 
<li><%= @contact.zip %>
<%end%></li>

<li><% if @contact.we_met_at.present?%>
We met at <%= @contact.we_met_at %>
<%end%></li>

<li><% if @contact.we_met_on.present?%>
We met on <%= @contact.we_met_on %>
<%end%></li>

<li><% if @contact.we_chatted_about.present?%>
We chatted about <%= @contact.we_chatted_about %>
<%end%></li>

<li><% if @contact.adjective.present?%>
I'd say <%=@contact.first_name%> is <%=@contact.adjective%>
<%end%></li>
</div>


<%= link_to 'Edit', edit_contact_path(@contact) %> 
<%= link_to 'Delete', root_url, confirm: 'Are you sure you want to delete this person?', method: :delete %></li>

<%= link_to 'Did You Meet Again? Add a New Story!', new_story_url(contact_id: @contact.id) %>
</br>
<% if @contact.stories.present?%>
<h2>We Met Again On</h2> 

<% @contact.stories.each do |s|%>
<h2><ul><%if s.date.present?%>
<%= s.date.strftime("%b%e") %>
<%else%>
<%=s.created_at.strftime("%b%e") %>
<%end%></h2>
<%=s.convo%>
</ul>
<%end%>
<%end%>

<h3>Recent Tweets</h3>
<% @results.each do |result| %>
<ul>
<li><%#= result["profile_image_url"]%><%= result["text"]%></li>
</ul>
<%end%>