<p id="notice"><%= notice %></p>

<p>
  <b>Contact:</b>
  <%= @story.contact_id %>
</p>

<p>
  <b>Convo:</b>
  <%= @story.convo %>
</p>

<p>
  <b>Date:</b>
  <%= @story.date %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
